{% extends "base.html" %}

{% block content %}
<div class="jumbotron text-center" id="top" style="background-image: url({{url_for('static', filename='img/food.jpg')}}); background-size:cover;">
    <h1>{{current_user.username}}'s Gallery</h1>
    {% for image in current_user.images.all() %}
    <br>
    <div class="container">
            <img src="{{url_for('uploaded_file', filename=image.url)}}">
    </div>
    {% endfor %}
</div>
<!-- Having some trouble figuring out how the relational database works but almost there -->
{% endblock %}